body, html {
    height: 100%;
}
.hero-image {
  background-image: url("/images/image1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: inherit;
  padding: 160px;
  }
.hero-text {
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: bold;
  font-size: small;
  padding-top:150px;
}
#welcome,welcome1{
    padding-top: 30px;
}
#mouse{
    padding-top:100px;
}
.about{
    text-align: center;
    }
.hero-image2 {
  background-image: url("/images/image2.jpg");
  width: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.hero-text2 {
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
}
